<style>
  .custom-text {
    font-size: 1.2rem;
  }
</style>

<div class="card border-info mb-3">
  <div class="card-header alert alert-info">
    <h5 class="card-title">No upcoming shifts!</h5>
  </div>
  <div class="card-body">
    <p class="card-text custom-text">There are no upcoming shifts scheduled at this time.</p>
  </div>
</div>