<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag("logo.svg", alt: "Logo"), root_path, class: "navbar-brand", data: {turbo: "false"} %>

  <div class="collapse navbar-collapse" id="navbarNav">
    <form class="form-inline my-2 my-lg-0 mx-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <%= link_to fa_icon("search"), "#", class: "input-group-text" %>
        </div>
        <input class="form-control border-success" type="search" placeholder="Search" aria-label="Search">
      </div>
    </form>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= render 'shared/user_profile_top' %>
      </li>
      <li class="nav-item">
        <%= link_to fa_stacked_icon("sign-out", base: "square-o"), "/logout", class: "nav-link", data: {turbo: "false"} %>
      </li>
    </ul>
  </div>
</nav>
