<div class="d-flex align-items-center">
  <img src="<%= current_user.employee.email_gravatar %>" alt="<%= current_user.employee.name %>" class="rounded-circle mr-3" width="50">
  <div class="text-dark">
    <h6 class="mb-1"><%= current_user.employee.name %></h6>
    <p class="mb-0"><%= current_user.employee.humanized_role %></p>
  </div>
</div>